body {
  background: rgb(53, 50, 50);
  color: white;
  font-weight: bold;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Roboto", sans-serif;
}
a {
  color: rgb(241, 235, 235);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(150, 147, 147);
}
a:visited {
  color: rgb(189, 187, 187);
}
h1:hover,
h3:hover {
  text-decoration: underline;
}
abbr {
  text-decoration: underline 1px;
}
dd > strong {
  text-shadow: 2px 2px 3px white;
}
dd > em {
  opacity: 0.3;
}
@keyframes shiver {
  0% {
    margin-left: 0.75px;
  }
  100% {
    margin-right: 0.75px;
  }
}
dd > strong:hover {
  animation: shiver 0.5s infinite;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
